.icon-large { background-image: url("../img/android-iconography-large.png"); width: 32px; height: 32px; }
.icon-large.icon-device-access-accounts { background-position: 2px 3px; }
.icon-large.icon-device-access-add-alarm { background-position: -46px 3px; }
.icon-large.icon-device-access-alarms { background-position: -94px 3px; }
.icon-large.icon-device-access-battery { background-position: -142px 3px; }
.icon-large.icon-device-access-bightness-low { background-position: -190px 3px; }
.icon-large.icon-device-access-bluetooth { background-position: -238px 3px; }
.icon-large.icon-device-access-bluetooth-connected { background-position: -286px 3px; }
.icon-large.icon-device-access-bluetooth-searching { background-position: -334px 3px; }
.icon-large.icon-device-access-brightness-auto { background-position: -382px 3px; }
.icon-large.icon-device-access-brightness-high { background-position: -430px 3px; }
.icon-large.icon-device-access-brightness-medium { background-position: 2px -45px; }
.icon-large.icon-device-access-call { background-position: -46px -45px; }
.icon-large.icon-device-access-camera { background-position: -94px -45px; }
.icon-large.icon-device-access-data-usage { background-position: -142px -45px; }
.icon-large.icon-device-access-dial-pad { background-position: -190px -45px; }
.icon-large.icon-device-access-end-call { background-position: -238px -45px; }
.icon-large.icon-device-access-flash-automatic { background-position: -286px -45px; }
.icon-large.icon-device-access-flash-off { background-position: -334px -45px; }
.icon-large.icon-device-access-flash-on { background-position: -382px -45px; }
.icon-large.icon-device-access-location-found { background-position: -430px -45px; }
.icon-large.icon-device-access-location-off { background-position: 2px -93px; }
.icon-large.icon-device-access-location-searching { background-position: -46px -93px; }
.icon-large.icon-device-access-mic { background-position: -94px -93px; }
.icon-large.icon-device-access-mic-muted { background-position: -142px -93px; }
.icon-large.icon-device-access-network-cell { background-position: -190px -93px; }
.icon-large.icon-device-access-network-wifi { background-position: -238px -93px; }
.icon-large.icon-device-access-new-account { background-position: -286px -93px; }
.icon-large.icon-device-access-not-secure { background-position: -334px -93px; }
.icon-large.icon-device-access-ring-volume { background-position: -382px -93px; }
.icon-large.icon-device-access-screen-locked-to-landscape { background-position: -430px -93px; }
.icon-large.icon-device-access-screen-locked-to-portrait { background-position: 2px -141px; }
.icon-large.icon-device-access-screen-rotation { background-position: -46px -141px; }
.icon-large.icon-device-access-sd-storage { background-position: -94px -141px; }
.icon-large.icon-device-access-secure { background-position: -142px -141px; }
.icon-large.icon-device-access-storage { background-position: -190px -141px; }
.icon-large.icon-device-access-switch-camera { background-position: -238px -141px; }
.icon-large.icon-device-access-switch-video { background-position: -286px -141px; }
.icon-large.icon-device-access-time { background-position: -334px -141px; }
.icon-large.icon-device-access-usb { background-position: -382px -141px; }
.icon-large.icon-device-access-video { background-position: -430px -141px; }
.icon-large.icon-device-access-volume-muted { background-position: 2px -189px; }
.icon-large.icon-device-access-volume-on { background-position: -46px -189px; }
.icon-large.icon-alerts-and-states-airplane-mode-off { background-position: -94px -189px; }
.icon-large.icon-alerts-and-states-airplane-mode-on { background-position: -142px -189px; }
.icon-large.icon-alerts-and-states-error { background-position: -190px -189px; }
.icon-large.icon-alerts-and-states-warning { background-position: -238px -189px; }
.icon-large.icon-hardware-computer { background-position: -286px -189px; }
.icon-large.icon-hardware-dock { background-position: -334px -189px; }
.icon-large.icon-hardware-gamepad { background-position: -382px -189px; }
.icon-large.icon-hardware-headphones { background-position: -430px -189px; }
.icon-large.icon-hardware-headset { background-position: 2px -237px; }
.icon-large.icon-hardware-keyboard { background-position: -46px -237px; }
.icon-large.icon-hardware-mouse { background-position: -94px -237px; }
.icon-large.icon-hardware-phone { background-position: -142px -237px; }
.icon-large.icon-navigation-accept { background-position: -190px -237px; }
.icon-large.icon-navigation-back { background-position: -238px -237px; }
.icon-large.icon-navigation-cancel { background-position: -286px -237px; }
.icon-large.icon-navigation-collapse { background-position: -334px -237px; }
.icon-large.icon-navigation-expand { background-position: -382px -237px; }
.icon-large.icon-navigation-forward { background-position: -430px -237px; }
.icon-large.icon-navigation-next-item { background-position: 2px -285px; }
.icon-large.icon-navigation-previous-item { background-position: -46px -285px; }
.icon-large.icon-navigation-refresh { background-position: -94px -285px; }
.icon-large.icon-action-about { background-position: -142px -285px; }
.icon-large.icon-action-help { background-position: -190px -285px; }
.icon-large.icon-action-search { background-position: -238px -285px; }
.icon-large.icon-action-settings { background-position: -286px -285px; }
.icon-large.icon-rating-bad { background-position: -334px -285px; }
.icon-large.icon-rating-favorite { background-position: -382px -285px; }
.icon-large.icon-rating-good { background-position: -430px -285px; }
.icon-large.icon-rating-half-important { background-position: 2px -333px; }
.icon-large.icon-rating-important { background-position: -46px -333px; }
.icon-large.icon-rating-not-important { background-position: -94px -333px; }
.icon-large.icon-collections-cloud { background-position: -142px -333px; }
.icon-large.icon-collections-collection { background-position: -190px -333px; }
.icon-large.icon-collections-go-to-today { background-position: -238px -333px; }
.icon-large.icon-collections-labels { background-position: -286px -333px; }
.icon-large.icon-collections-new-label { background-position: -334px -333px; }
.icon-large.icon-collections-sort-by-size { background-position: -382px -333px; }
.icon-large.icon-collections-view-as-grid { background-position: -430px -333px; }
.icon-large.icon-collections-view-as-list { background-position: 2px -381px; }
.icon-large.icon-content-attachment { background-position: -46px -381px; }
.icon-large.icon-content-backspace { background-position: -94px -381px; }
.icon-large.icon-content-copy { background-position: -142px -381px; }
.icon-large.icon-content-cut { background-position: -190px -381px; }
.icon-large.icon-content-discard { background-position: -238px -381px; }
.icon-large.icon-content-edit { background-position: -286px -381px; }
.icon-large.icon-content-email { background-position: -334px -381px; }
.icon-large.icon-content-event { background-position: -382px -381px; }
.icon-large.icon-content-import-export { background-position: -430px -381px; }
.icon-large.icon-content-merge { background-position: 2px -429px; }
.icon-large.icon-content-new { background-position: -46px -429px; }
.icon-large.icon-content-new-attachment { background-position: -94px -429px; }
.icon-large.icon-content-new-email { background-position: -142px -429px; }
.icon-large.icon-content-new-event { background-position: -190px -429px; }
.icon-large.icon-content-new-picture { background-position: -238px -429px; }
.icon-large.icon-content-paste { background-position: -286px -429px; }
.icon-large.icon-content-picture { background-position: -334px -429px; }
.icon-large.icon-content-read { background-position: -382px -429px; }
.icon-large.icon-content-remove { background-position: -430px -429px; }
.icon-large.icon-content-save { background-position: 2px -477px; }
.icon-large.icon-content-select-all { background-position: -46px -477px; }
.icon-large.icon-content-split { background-position: -94px -477px; }
.icon-large.icon-content-undo { background-position: -142px -477px; }
.icon-large.icon-content-unread { background-position: -190px -477px; }
.icon-large.icon-social-add-group { background-position: -238px -477px; }
.icon-large.icon-social-add-person { background-position: -286px -477px; }
.icon-large.icon-social-cc-bcc { background-position: -334px -477px; }
.icon-large.icon-social-chat { background-position: -382px -477px; }
.icon-large.icon-social-forward { background-position: -430px -477px; }
.icon-large.icon-social-group { background-position: 2px -525px; }
.icon-large.icon-social-person { background-position: -46px -525px; }
.icon-large.icon-social-reply { background-position: -94px -525px; }
.icon-large.icon-social-reply-all { background-position: -142px -525px; }
.icon-large.icon-social-send-now { background-position: -190px -525px; }
.icon-large.icon-social-share { background-position: -238px -525px; }
.icon-large.icon-location-directions { background-position: -286px -525px; }
.icon-large.icon-location-map { background-position: -334px -525px; }
.icon-large.icon-location-place { background-position: -382px -525px; }
.icon-large.icon-location-web-site { background-position: -430px -525px; }
.icon-large.icon-images-crop { background-position: 2px -573px; }
.icon-large.icon-images-rotate-left { background-position: -46px -573px; }
.icon-large.icon-images-rotate-right { background-position: -94px -573px; }
.icon-large.icon-images-slideshow { background-position: -142px -573px; }
.icon-large.icon-av-add-to-queue { background-position: -190px -573px; }
.icon-large.icon-av-download { background-position: -238px -573px; }
.icon-large.icon-av-fast-forward { background-position: -286px -573px; }
.icon-large.icon-av-full-screen { background-position: -334px -573px; }
.icon-large.icon-av-make-available-offline { background-position: -382px -573px; }
.icon-large.icon-av-next { background-position: -430px -573px; }
.icon-large.icon-av-pause { background-position: 2px -621px; }
.icon-large.icon-av-pause-over-video { background-position: -46px -621px; }
.icon-large.icon-av-play { background-position: -94px -621px; }
.icon-large.icon-av-play-over-video { background-position: -142px -621px; }
.icon-large.icon-av-previous { background-position: -190px -621px; }
.icon-large.icon-av-repeat { background-position: -238px -621px; }
.icon-large.icon-av-replay { background-position: -286px -621px; }
.icon-large.icon-av-return-from-full-screen { background-position: -334px -621px; }
.icon-large.icon-av-rewind { background-position: -382px -621px; }
.icon-large.icon-av-shuffle { background-position: -430px -621px; }
.icon-large.icon-av-stop { background-position: 2px -669px; }
.icon-large.icon-av-upload { background-position: -46px -669px; }
