.icon-medium { background-image: url("../img/android-iconography-medium.png"); width: 24px; height: 24px; }
.icon-medium.icon-device-access-accounts { background-position: 2px 3px; }
.icon-medium.icon-device-access-add-alarm { background-position: -34px 3px; }
.icon-medium.icon-device-access-alarms { background-position: -70px 3px; }
.icon-medium.icon-device-access-battery { background-position: -106px 3px; }
.icon-medium.icon-device-access-bightness-low { background-position: -142px 3px; }
.icon-medium.icon-device-access-bluetooth { background-position: -178px 3px; }
.icon-medium.icon-device-access-bluetooth-connected { background-position: -214px 3px; }
.icon-medium.icon-device-access-bluetooth-searching { background-position: -250px 3px; }
.icon-medium.icon-device-access-brightness-auto { background-position: -286px 3px; }
.icon-medium.icon-device-access-brightness-high { background-position: -322px 3px; }
.icon-medium.icon-device-access-brightness-medium { background-position: 2px -33px; }
.icon-medium.icon-device-access-call { background-position: -34px -33px; }
.icon-medium.icon-device-access-camera { background-position: -70px -33px; }
.icon-medium.icon-device-access-data-usage { background-position: -106px -33px; }
.icon-medium.icon-device-access-dial-pad { background-position: -142px -33px; }
.icon-medium.icon-device-access-end-call { background-position: -178px -33px; }
.icon-medium.icon-device-access-flash-automatic { background-position: -214px -33px; }
.icon-medium.icon-device-access-flash-off { background-position: -250px -33px; }
.icon-medium.icon-device-access-flash-on { background-position: -286px -33px; }
.icon-medium.icon-device-access-location-found { background-position: -322px -33px; }
.icon-medium.icon-device-access-location-off { background-position: 2px -69px; }
.icon-medium.icon-device-access-location-searching { background-position: -34px -69px; }
.icon-medium.icon-device-access-mic { background-position: -70px -69px; }
.icon-medium.icon-device-access-mic-muted { background-position: -106px -69px; }
.icon-medium.icon-device-access-network-cell { background-position: -142px -69px; }
.icon-medium.icon-device-access-network-wifi { background-position: -178px -69px; }
.icon-medium.icon-device-access-new-account { background-position: -214px -69px; }
.icon-medium.icon-device-access-not-secure { background-position: -250px -69px; }
.icon-medium.icon-device-access-ring-volume { background-position: -286px -69px; }
.icon-medium.icon-device-access-screen-locked-to-landscape { background-position: -322px -69px; }
.icon-medium.icon-device-access-screen-locked-to-portrait { background-position: 2px -105px; }
.icon-medium.icon-device-access-screen-rotation { background-position: -34px -105px; }
.icon-medium.icon-device-access-sd-storage { background-position: -70px -105px; }
.icon-medium.icon-device-access-secure { background-position: -106px -105px; }
.icon-medium.icon-device-access-storage { background-position: -142px -105px; }
.icon-medium.icon-device-access-switch-camera { background-position: -178px -105px; }
.icon-medium.icon-device-access-switch-video { background-position: -214px -105px; }
.icon-medium.icon-device-access-time { background-position: -250px -105px; }
.icon-medium.icon-device-access-usb { background-position: -286px -105px; }
.icon-medium.icon-device-access-video { background-position: -322px -105px; }
.icon-medium.icon-device-access-volume-muted { background-position: 2px -141px; }
.icon-medium.icon-device-access-volume-on { background-position: -34px -141px; }
.icon-medium.icon-alerts-and-states-airplane-mode-off { background-position: -70px -141px; }
.icon-medium.icon-alerts-and-states-airplane-mode-on { background-position: -106px -141px; }
.icon-medium.icon-alerts-and-states-error { background-position: -142px -141px; }
.icon-medium.icon-alerts-and-states-warning { background-position: -178px -141px; }
.icon-medium.icon-hardware-computer { background-position: -214px -141px; }
.icon-medium.icon-hardware-dock { background-position: -250px -141px; }
.icon-medium.icon-hardware-gamepad { background-position: -286px -141px; }
.icon-medium.icon-hardware-headphones { background-position: -322px -141px; }
.icon-medium.icon-hardware-headset { background-position: 2px -177px; }
.icon-medium.icon-hardware-keyboard { background-position: -34px -177px; }
.icon-medium.icon-hardware-mouse { background-position: -70px -177px; }
.icon-medium.icon-hardware-phone { background-position: -106px -177px; }
.icon-medium.icon-navigation-accept { background-position: -142px -177px; }
.icon-medium.icon-navigation-back { background-position: -178px -177px; }
.icon-medium.icon-navigation-cancel { background-position: -214px -177px; }
.icon-medium.icon-navigation-collapse { background-position: -250px -177px; }
.icon-medium.icon-navigation-expand { background-position: -286px -177px; }
.icon-medium.icon-navigation-forward { background-position: -322px -177px; }
.icon-medium.icon-navigation-next-item { background-position: 2px -213px; }
.icon-medium.icon-navigation-previous-item { background-position: -34px -213px; }
.icon-medium.icon-navigation-refresh { background-position: -70px -213px; }
.icon-medium.icon-action-about { background-position: -106px -213px; }
.icon-medium.icon-action-help { background-position: -142px -213px; }
.icon-medium.icon-action-search { background-position: -178px -213px; }
.icon-medium.icon-action-settings { background-position: -214px -213px; }
.icon-medium.icon-rating-bad { background-position: -250px -213px; }
.icon-medium.icon-rating-favorite { background-position: -286px -213px; }
.icon-medium.icon-rating-good { background-position: -322px -213px; }
.icon-medium.icon-rating-half-important { background-position: 2px -249px; }
.icon-medium.icon-rating-important { background-position: -34px -249px; }
.icon-medium.icon-rating-not-important { background-position: -70px -249px; }
.icon-medium.icon-collections-cloud { background-position: -106px -249px; }
.icon-medium.icon-collections-collection { background-position: -142px -249px; }
.icon-medium.icon-collections-go-to-today { background-position: -178px -249px; }
.icon-medium.icon-collections-labels { background-position: -214px -249px; }
.icon-medium.icon-collections-new-label { background-position: -250px -249px; }
.icon-medium.icon-collections-sort-by-size { background-position: -286px -249px; }
.icon-medium.icon-collections-view-as-grid { background-position: -322px -249px; }
.icon-medium.icon-collections-view-as-list { background-position: 2px -285px; }
.icon-medium.icon-content-attachment { background-position: -34px -285px; }
.icon-medium.icon-content-backspace { background-position: -70px -285px; }
.icon-medium.icon-content-copy { background-position: -106px -285px; }
.icon-medium.icon-content-cut { background-position: -142px -285px; }
.icon-medium.icon-content-discard { background-position: -178px -285px; }
.icon-medium.icon-content-edit { background-position: -214px -285px; }
.icon-medium.icon-content-email { background-position: -250px -285px; }
.icon-medium.icon-content-event { background-position: -286px -285px; }
.icon-medium.icon-content-import-export { background-position: -322px -285px; }
.icon-medium.icon-content-merge { background-position: 2px -321px; }
.icon-medium.icon-content-new { background-position: -34px -321px; }
.icon-medium.icon-content-new-attachment { background-position: -70px -321px; }
.icon-medium.icon-content-new-email { background-position: -106px -321px; }
.icon-medium.icon-content-new-event { background-position: -142px -321px; }
.icon-medium.icon-content-new-picture { background-position: -178px -321px; }
.icon-medium.icon-content-paste { background-position: -214px -321px; }
.icon-medium.icon-content-picture { background-position: -250px -321px; }
.icon-medium.icon-content-read { background-position: -286px -321px; }
.icon-medium.icon-content-remove { background-position: -322px -321px; }
.icon-medium.icon-content-save { background-position: 2px -357px; }
.icon-medium.icon-content-select-all { background-position: -34px -357px; }
.icon-medium.icon-content-split { background-position: -70px -357px; }
.icon-medium.icon-content-undo { background-position: -106px -357px; }
.icon-medium.icon-content-unread { background-position: -142px -357px; }
.icon-medium.icon-social-add-group { background-position: -178px -357px; }
.icon-medium.icon-social-add-person { background-position: -214px -357px; }
.icon-medium.icon-social-cc-bcc { background-position: -250px -357px; }
.icon-medium.icon-social-chat { background-position: -286px -357px; }
.icon-medium.icon-social-forward { background-position: -322px -357px; }
.icon-medium.icon-social-group { background-position: 2px -393px; }
.icon-medium.icon-social-person { background-position: -34px -393px; }
.icon-medium.icon-social-reply { background-position: -70px -393px; }
.icon-medium.icon-social-reply-all { background-position: -106px -393px; }
.icon-medium.icon-social-send-now { background-position: -142px -393px; }
.icon-medium.icon-social-share { background-position: -178px -393px; }
.icon-medium.icon-location-directions { background-position: -214px -393px; }
.icon-medium.icon-location-map { background-position: -250px -393px; }
.icon-medium.icon-location-place { background-position: -286px -393px; }
.icon-medium.icon-location-web-site { background-position: -322px -393px; }
.icon-medium.icon-images-crop { background-position: 2px -429px; }
.icon-medium.icon-images-rotate-left { background-position: -34px -429px; }
.icon-medium.icon-images-rotate-right { background-position: -70px -429px; }
.icon-medium.icon-images-slideshow { background-position: -106px -429px; }
.icon-medium.icon-av-add-to-queue { background-position: -142px -429px; }
.icon-medium.icon-av-download { background-position: -178px -429px; }
.icon-medium.icon-av-fast-forward { background-position: -214px -429px; }
.icon-medium.icon-av-full-screen { background-position: -250px -429px; }
.icon-medium.icon-av-make-available-offline { background-position: -286px -429px; }
.icon-medium.icon-av-next { background-position: -322px -429px; }
.icon-medium.icon-av-pause { background-position: 2px -465px; }
.icon-medium.icon-av-pause-over-video { background-position: -34px -465px; }
.icon-medium.icon-av-play { background-position: -70px -465px; }
.icon-medium.icon-av-play-over-video { background-position: -106px -465px; }
.icon-medium.icon-av-previous { background-position: -142px -465px; }
.icon-medium.icon-av-repeat { background-position: -178px -465px; }
.icon-medium.icon-av-replay { background-position: -214px -465px; }
.icon-medium.icon-av-return-from-full-screen { background-position: -250px -465px; }
.icon-medium.icon-av-rewind { background-position: -286px -465px; }
.icon-medium.icon-av-shuffle { background-position: -322px -465px; }
.icon-medium.icon-av-stop { background-position: 2px -501px; }
.icon-medium.icon-av-upload { background-position: -34px -501px; }
