
<section route-ng-controller="PurchaseCtrl" class="container" id="purchase-container">

	<ul class="media-list purchase-items">
		<li class="purchase-item media well" ng-class="item.additionalClass" ng-repeat="item in purchase.items">
			<a class="pull-left" ng-href="{{item.detailHref}}">
				<img class="media-object purchase-item-image" ng-src="{{item.product.image.small}}" />
			</a>
			<div class="media-body">
				<h4 class="media-heading">{{item.product.name}}</h4>
				<div class="media">
					<span class="badge badge-inverse">{{item.qty}}x</span>
					<span class="badge badge-success">{{item.price | price:item.currency}}</span>
					<span ng-hide="item.hideSalePrice" class="badge badge-warning">{{item.offer.price | price:item.offer.currency}}</span>
				</div>
			</div>
		</li>
		
		<!-- Celkem -->
		<li class="purchase-item total media well">
			<div class="media-body">
				<h4 class="media-heading">{{'Cena celkem'|_}}</h4>
				<div class="media">
					<span class="badge badge-important">{{purchase.totalPrice|price:purchase.currency}}</span>
				</div>
			</div>
		</li>
		
		<!-- Info -->
		<li class="purchase-info media well">
			<div class="row-fluid show-grid">
				<div class="span5">
					<h5>{{'Získané body'|_}}</h5>
					<span class="badge badge-info">{{purchase.loyaltyPoints}}</span>
				</div>
				<div class="span2">
					<img class="payment-type" alt="{{purchase.paymentType.title}}" ng-src="{{paymentTypes[purchase.paymentType.name].image}}">
				</div>
				<div class="span5">
					<h4>{{purchase.branch.name}}</h4>
				</div>
			</div>
		</li>
	</ul>
	
</section>