#s-10d3b7a8-c59f-493f-894c-faa9bad940b4 #s-Red_button {
  background-image: url('../../images/[Generated] 88131437-fe11-425f-a98e-238375dfb03c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 267px;
  height: 34px;
}