#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Panel_43 > .valign {
  vertical-align: top;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rich_text_42 {
  background-image: url('../../images/[Generated] bf423ed4-55b7-4d99-a5f3-12c1bce69ba4.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 14px;
  width: 282px;
  height: 40px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rich_text_45 {
  background-image: url('../../images/[Generated] da5b0dce-36b7-4c44-a6fb-da3469f11c48.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  width: 282px;
  height: 40px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rich_text_46 {
  background-image: url('../../images/[Generated] 7f11d3a8-b7d0-494a-ad87-e88675313912.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rich_text_49 {
  background-image: url('../../images/[Generated] 03a99169-f696-4c7e-94bc-e1c80b2a21d0.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Button_blue {
  background-image: url('../../images/[Generated] e0d2e898-8c93-4d2f-837f-90ff99e65f65.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 47px;
  height: 22px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Button_blue_1 {
  background-image: url('../../images/[Generated] bc534f4c-141e-4774-aef1-03cc4251d314.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 47px;
  height: 22px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread {
  background-image: url('../../images/[Generated] 88e6d62e-3320-4e43-97ce-0f472feb42ee.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread_1 {
  background-image: url('../../images/[Generated] 205e1f6f-01ed-45ac-b860-35857a56fcf4.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread_2 {
  background-image: url('../../images/[Generated] fe57a0dc-4f2e-4be9-bd81-8b9e04b53a52.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread_3 {
  background-image: url('../../images/[Generated] ce8d2f7a-b196-43e4-92f4-44b16067cf68.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread_4 {
  background-image: url('../../images/[Generated] e5f07181-cefd-400c-9501-e95dd71f9acc.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread_5 {
  background-image: url('../../images/[Generated] 16fce476-e383-4a6f-8d45-73f79c4de9c8.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rectangle_6 {
  background-image: url('../../images/[Generated] e872429e-2098-437e-8155-2fac242411af.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 294px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Label_10 {
  background-image: url('../../images/[Generated] 08c2f851-f6d1-4735-891b-1d8ae1f88428.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 13px;
  width: 289px;
  height: 22px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Category_4-options {
  background-color: transparent;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rectangle_7 {
  background-image: url('../../images/[Generated] 9fc3f804-161e-478c-aac4-061b2d731ee4.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 300px;
  height: 24px;
}