#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Blue_button_large {
  background-image: url('../../images/[Generated] ac80b16c-f016-443f-8e35-9938d1bdc33c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 167px;
  height: 26px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Blue_button_large_1 {
  background-image: url('../../images/[Generated] 8b747333-c422-40e8-aa10-6e86e0c1c932.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 167px;
  height: 26px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Green_button {
  background-image: url('../../images/[Generated] ee40eb88-65e9-4b5d-9e4e-c4e37fb4ad06.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 165px;
  height: 24px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Panel_47 > .valign {
  vertical-align: top;
}