#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 {
  background-color: transparent;
  min-width: 395px;
  min-height: 680px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Group_1 {
  position: absolute;
  top: 142px;
  left: 66px;
  width: 320px;
  height: 43px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Application_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 43px;
  background-color: transparent;
  background-image: url('../../images/4b91b422-7fbc-43de-9acb-3a6bfc00ac09.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  font-size: 14pt;
  font-family: Tahoma;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Application_bar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Application_bar span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Application_bar span#rtr-s-Application_bar_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Image_2 {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Image_3 {
  position: absolute;
  top: 6px;
  left: 242px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Image_4 {
  position: absolute;
  top: 6px;
  left: 280px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Label_1 {
  position: absolute;
  top: 202px;
  left: 84px;
  width: 151px;
  height: 29px;
  background-color: transparent;
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: bold;
  line-height: 18pt;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Blue_button_large {
  position: absolute;
  top: 239px;
  left: 203px;
  width: 163px;
  height: 22px;
  background-color: #1E4EE1;
  background-image: url('../../images/cb89dba3-812c-4d58-9199-2243e8c25362.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #3A3F3F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #3A3F3F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #3A3F3F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #3A3F3F;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
  line-height: 11pt;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Blue_button_large .valign {
  vertical-align: middle;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Label_2 {
  position: absolute;
  top: 244px;
  left: 84px;
  width: 151px;
  height: 20px;
  background-color: transparent;
  color: #4A576C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Label_3 {
  position: absolute;
  top: 280px;
  left: 84px;
  width: 151px;
  height: 20px;
  background-color: transparent;
  color: #4A576C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Blue_button_large_1 {
  position: absolute;
  top: 275px;
  left: 203px;
  width: 163px;
  height: 22px;
  background-color: #FF0000;
  background-image: url('../../images/cb89dba3-812c-4d58-9199-2243e8c25362.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #3A3F3F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #3A3F3F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #3A3F3F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #3A3F3F;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
  line-height: 11pt;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Blue_button_large_1 .valign {
  vertical-align: middle;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Green_button {
  position: absolute;
  top: 275px;
  left: 203px;
  width: 159px;
  height: 18px;
  background-color: transparent;
  background-image: url('../../images/dfdb1071-b64a-47f7-86ac-cffb5b3eb720.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #282A2F;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #282A2F;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #282A2F;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #282A2F;
  border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  font-size: 12pt;
  font-family: Arial;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Green_button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Green_button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Green_button span#rtr-s-Green_button_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Image_1 {
  position: absolute;
  top: 326px;
  left: 118px;
  width: 224px;
  height: 222px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-List {
  position: absolute;
  top: 572px;
  left: 65px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Panel_47 {
  width: 330px;
  height: 108px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Group_2 {
  width: 320px;
  height: 51px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Rich_text_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 12px;
  width: 306px;
  height: 50px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  font-size: 12pt;
  font-family: Arial;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Rich_text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Rich_text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Rich_text_5 span#rtr-s-Rich_text_5_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Image_5 {
  position: absolute;
  top: 18px;
  left: 297px;
  width: 10px;
  height: 15px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Group_33 {
  width: 320px;
  height: 51px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Rich_text_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 12px;
  width: 306px;
  height: 50px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  font-size: 12pt;
  font-family: Arial;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Rich_text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Rich_text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Rich_text_7 span#rtr-s-Rich_text_7_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Image_6 {
  position: absolute;
  top: 18px;
  left: 297px;
  width: 10px;
  height: 15px;
}