#s-296abba6-b9d5-4719-95ce-5eda01354826 {
  background-color: transparent;
  min-width: 387px;
  min-height: 666px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Group_1 {
  position: absolute;
  top: 142px;
  left: 66px;
  width: 320px;
  height: 43px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Application_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 43px;
  background-color: transparent;
  background-image: url('../../images/4b91b422-7fbc-43de-9acb-3a6bfc00ac09.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  font-size: 14pt;
  font-family: Tahoma;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Application_bar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Application_bar span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Application_bar span#rtr-s-Application_bar_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_2 {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_3 {
  position: absolute;
  top: 6px;
  left: 242px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_4 {
  position: absolute;
  top: 6px;
  left: 280px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Tables {
  position: absolute;
  top: 186px;
  left: 67px;
  width: 320px;
  height: 480px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 480px;
  background-color: #FFFFFF;
  background-image: url('../../images/71865e61-1eb7-4025-8c55-a1db08e8c862.png');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: scroll;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Dynamic_Panel_41 {
  position: absolute;
  top: 52px;
  left: 5px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Panel_43 {
  width: 308px;
  height: 185px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_42 {
  padding-left: 14px;
  width: 280px;
  height: 39px;
  background-color: #F7F7F7;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #AEB1B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #AEB1B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #AEB1B5;
  border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  font-size: 10pt;
  font-family: Arial;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_42 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_42 span#rtr-s-Rich_text_42_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Group_43 {
  width: 300px;
  height: 44px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_83 {
  position: absolute;
  top: 15px;
  left: 273px;
  width: 10px;
  height: 15px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_43 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 10px;
  width: 288px;
  height: 43px;
  background-color: #F7F7F7;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #AEB1B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #AEB1B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #AEB1B5;
  font-size: 10pt;
  font-family: Arial;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_43 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_43 span#rtr-s-Rich_text_43_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Group_46 {
  width: 300px;
  height: 45px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Label_77 {
  position: absolute;
  top: 13px;
  left: 195px;
  width: 77px;
  height: 20px;
  background-color: transparent;
  color: #355185;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
  line-height: 11pt;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Label_77 .valign {
  vertical-align: middle;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_44 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 10px;
  width: 288px;
  height: 43px;
  background-color: #F7F7F7;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #AEB1B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #AEB1B5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #AEB1B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #AEB1B5;
  font-size: 10pt;
  font-family: Arial;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_44 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_44 span#rtr-s-Rich_text_44_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_45 {
  padding-left: 14px;
  width: 280px;
  height: 39px;
  background-color: #F7F7F7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #AEB1B5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #AEB1B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #AEB1B5;
  border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  font-size: 10pt;
  font-family: Arial;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_45 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_45 span#rtr-s-Rich_text_45_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Dynamic_Panel_42 {
  position: absolute;
  top: 233px;
  left: 5px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Panel_44 {
  width: 308px;
  height: 96px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Line_6 {
  position: absolute;
  top: 43px;
  left: 0px;
  width: 300px;
  height: 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #AEB1B5;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_87 {
  position: absolute;
  top: 8px;
  left: 7px;
  width: 29px;
  height: 29px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_88 {
  position: absolute;
  top: 51px;
  left: 7px;
  width: 29px;
  height: 29px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_46 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 44px;
  width: 250px;
  height: 39px;
  background-color: #F7F7F7;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #AEB1B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #AEB1B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #AEB1B5;
  border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  cursor: pointer;
  font-size: 10pt;
  font-family: Arial;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_46 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_46 span#rtr-s-Rich_text_46_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_49 {
  position: absolute;
  top: 44px;
  left: 0px;
  padding-left: 44px;
  width: 250px;
  height: 39px;
  background-color: #F7F7F7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #AEB1B5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #AEB1B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #AEB1B5;
  border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  font-size: 10pt;
  font-family: Arial;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_49 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_49 span#rtr-s-Rich_text_49_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Button_blue {
  position: absolute;
  top: 9px;
  left: 201px;
  width: 45px;
  height: 20px;
  background-color: #A1B9E6;
  background-image: -moz-linear-gradient(top,#A1B9E6,#305EB9);
  background-image: -webkit-linear-gradient(top,#A1B9E6,#305EB9);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#A1B9E6), color-stop(100%,#305EB9));
  background-image: -o-linear-gradient(top,#A1B9E6,#305EB9);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0AEC7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0AEC7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0AEC7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0AEC7;
  border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Button_blue .valign {
  vertical-align: middle;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Button_blue_1 {
  position: absolute;
  top: 52px;
  left: 201px;
  width: 45px;
  height: 20px;
  background-color: #A1B9E6;
  background-image: -moz-linear-gradient(top,#A1B9E6,#305EB9);
  background-image: -webkit-linear-gradient(top,#A1B9E6,#305EB9);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#A1B9E6), color-stop(100%,#305EB9));
  background-image: -o-linear-gradient(top,#A1B9E6,#305EB9);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0AEC7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0AEC7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0AEC7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0AEC7;
  border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Button_blue_1 .valign {
  vertical-align: middle;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_1 {
  position: absolute;
  top: 7px;
  left: 6px;
  width: 32px;
  height: 32px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_5 {
  position: absolute;
  top: 50px;
  left: 6px;
  width: 32px;
  height: 32px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-CheckBox {
  position: absolute;
  top: 8px;
  left: 262px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_1 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_19 {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_1 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_18 {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-CheckBox_1 {
  position: absolute;
  top: 51px;
  left: 262px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_2 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_20 {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_2 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_21 {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Label_1 {
  position: absolute;
  top: 204px;
  left: 89px;
  width: 208px;
  height: 20px;
  background-color: transparent;
  color: #4A576C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-CheckBox_2 {
  position: absolute;
  top: 248px;
  left: 334px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_3 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_22 {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_3 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_23 {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-CheckBox_3 {
  position: absolute;
  top: 290px;
  left: 334px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_4 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_24 {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_4 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_25 {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-CheckBox_4 {
  position: absolute;
  top: 335px;
  left: 334px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_5 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_26 {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_5 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_27 {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-CheckBox_5 {
  position: absolute;
  top: 379px;
  left: 334px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_6 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_28 {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_6 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Image_29 {
  width: 28px;
  height: 28px;
  cursor: pointer;
}