#s-2ca9765f-6b81-4429-80e3-2a7fc2bfe723 #s-Dark_grey_button {
  background-image: url('../../images/[Generated] e5daead8-b326-4b31-b3a7-9c79f66b274c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 267px;
  height: 34px;
}
#s-2ca9765f-6b81-4429-80e3-2a7fc2bfe723 #s-Rectangle_27 {
  background-image: url('../../images/[Generated] 857c4340-cbc8-46af-9c8d-e4fd37c700e9.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 276px;
  height: 37px;
}
#s-2ca9765f-6b81-4429-80e3-2a7fc2bfe723 #s-Panel_13 > .valign {
  vertical-align: middle;
}
#s-2ca9765f-6b81-4429-80e3-2a7fc2bfe723 #s-Green_button {
  background-image: url('../../images/[Generated] cc1847ea-7d9b-41d6-be81-f2ea4cde436c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 143px;
  height: 23px;
}