#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 {
  background-color: transparent;
  min-width: 396px;
  min-height: 646px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Group_1 {
  position: absolute;
  top: 142px;
  left: 66px;
  width: 320px;
  height: 43px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Application_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 43px;
  background-color: transparent;
  background-image: url('../../images/4b91b422-7fbc-43de-9acb-3a6bfc00ac09.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  font-size: 14pt;
  font-family: Tahoma;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Application_bar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Application_bar span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Application_bar span#rtr-s-Application_bar_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Image_2 {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Image_3 {
  position: absolute;
  top: 6px;
  left: 242px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Image_4 {
  position: absolute;
  top: 6px;
  left: 280px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-List {
  position: absolute;
  top: 229px;
  left: 66px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Panel_47 {
  width: 330px;
  height: 417px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Group_2 {
  width: 320px;
  height: 51px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 12px;
  width: 306px;
  height: 50px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  font-size: 12pt;
  font-family: Arial;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Image_5 {
  position: absolute;
  top: 18px;
  left: 297px;
  width: 10px;
  height: 15px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Group_33 {
  width: 320px;
  height: 51px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 12px;
  width: 306px;
  height: 50px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  font-size: 12pt;
  font-family: Arial;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Image_6 {
  position: absolute;
  top: 18px;
  left: 297px;
  width: 10px;
  height: 15px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Group_35 {
  width: 320px;
  height: 51px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_34 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 12px;
  width: 306px;
  height: 50px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  font-size: 12pt;
  font-family: Arial;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_34 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_34 span#rtr-s-Rich_text_34_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Image_7 {
  position: absolute;
  top: 18px;
  left: 297px;
  width: 10px;
  height: 15px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Group_34 {
  width: 320px;
  height: 52px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 12px;
  width: 306px;
  height: 50px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  font-size: 12pt;
  font-family: Arial;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_8 span#rtr-s-Rich_text_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Image_8 {
  position: absolute;
  top: 18px;
  left: 297px;
  width: 10px;
  height: 15px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Group_36 {
  width: 320px;
  height: 52px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 12px;
  width: 306px;
  height: 50px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  font-size: 12pt;
  font-family: Arial;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_9 span#rtr-s-Rich_text_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Image_9 {
  position: absolute;
  top: 18px;
  left: 297px;
  width: 10px;
  height: 15px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Group_37 {
  width: 320px;
  height: 52px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 12px;
  width: 306px;
  height: 50px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  font-size: 12pt;
  font-family: Arial;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_10 span#rtr-s-Rich_text_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Image_10 {
  position: absolute;
  top: 18px;
  left: 297px;
  width: 10px;
  height: 15px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Group_38 {
  width: 320px;
  height: 52px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 12px;
  width: 306px;
  height: 50px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  cursor: pointer;
  font-size: 12pt;
  font-family: Arial;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_11 span#rtr-s-Rich_text_11_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Image_11 {
  position: absolute;
  top: 18px;
  left: 297px;
  width: 10px;
  height: 15px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Group_39 {
  width: 320px;
  height: 52px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 12px;
  width: 306px;
  height: 50px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  font-size: 12pt;
  font-family: Arial;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rich_text_12 span#rtr-s-Rich_text_12_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Image_12 {
  position: absolute;
  top: 18px;
  left: 297px;
  width: 10px;
  height: 15px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread {
  position: absolute;
  top: 247px;
  left: 327px;
  width: 17px;
  height: 12px;
  background-color: #959CA6;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #959CA6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #959CA6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #959CA6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #959CA6;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread .valign {
  vertical-align: middle;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_1 {
  position: absolute;
  top: 297px;
  left: 327px;
  width: 17px;
  height: 12px;
  background-color: #959CA6;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #959CA6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #959CA6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #959CA6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #959CA6;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_1 .valign {
  vertical-align: middle;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_2 {
  position: absolute;
  top: 348px;
  left: 327px;
  width: 17px;
  height: 12px;
  background-color: #959CA6;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #959CA6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #959CA6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #959CA6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #959CA6;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_2 .valign {
  vertical-align: middle;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_3 {
  position: absolute;
  top: 402px;
  left: 327px;
  width: 17px;
  height: 12px;
  background-color: #959CA6;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #959CA6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #959CA6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #959CA6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #959CA6;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_3 .valign {
  vertical-align: middle;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_4 {
  position: absolute;
  top: 450px;
  left: 327px;
  width: 17px;
  height: 12px;
  background-color: #959CA6;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #959CA6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #959CA6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #959CA6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #959CA6;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_4 .valign {
  vertical-align: middle;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_5 {
  position: absolute;
  top: 505px;
  left: 327px;
  width: 17px;
  height: 12px;
  background-color: #959CA6;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #959CA6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #959CA6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #959CA6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #959CA6;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_5 .valign {
  vertical-align: middle;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_6 {
  position: absolute;
  top: 553px;
  left: 327px;
  width: 17px;
  height: 12px;
  background-color: #959CA6;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #959CA6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #959CA6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #959CA6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #959CA6;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_6 .valign {
  vertical-align: middle;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_7 {
  position: absolute;
  top: 609px;
  left: 327px;
  width: 17px;
  height: 12px;
  background-color: #959CA6;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #959CA6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #959CA6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #959CA6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #959CA6;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_7 .valign {
  vertical-align: middle;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Search_bar {
  position: absolute;
  top: 185px;
  left: 67px;
  width: 269px;
  height: 44px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 269px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: url('../../images/ad169dc0-cf63-4cdc-ada7-9500dfd9d1c0.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rectangle_16 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 245px;
  height: 12px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #838383;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #838383;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #838383;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #838383;
  border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Input_7 {
  position: absolute;
  top: 7px;
  left: 18px;
  padding-left: 18px;
  width: 223px;
  height: 30px;
  background-color: transparent;
  cursor: text;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10pt;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Input_7 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Image_40 {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 14px;
  height: 15px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Image_1 {
  position: absolute;
  top: 185px;
  left: 339px;
  width: 43px;
  height: 43px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Image_13 {
  position: absolute;
  top: 191px;
  left: 345px;
  width: 32px;
  height: 32px;
}