#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Panel_47 > .valign {
  vertical-align: top;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread {
  background-image: url('../../images/[Generated] c4ed4d8b-0fb6-4f51-b760-2e518ffaa73f.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_1 {
  background-image: url('../../images/[Generated] 337501f0-3b39-4c5f-a4c6-def1bbebdb9c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_2 {
  background-image: url('../../images/[Generated] dde1a81a-f16b-46d8-8b5c-1c4a75c3801f.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_3 {
  background-image: url('../../images/[Generated] 3c5e8467-8031-43d8-9a09-bce95a79d80c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_4 {
  background-image: url('../../images/[Generated] aa895fef-950c-4793-bd01-41e4fd17e316.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_5 {
  background-image: url('../../images/[Generated] bb7daab5-a457-4e0b-96d3-8fad00a7b862.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_6 {
  background-image: url('../../images/[Generated] ece014b4-1586-49dd-b365-3b8e91d7d6f3.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_7 {
  background-image: url('../../images/[Generated] 34eb6b07-7696-471e-ac69-b859974d0d38.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rectangle_16 {
  background-image: url('../../images/[Generated] c5ca9340-0f9c-4514-b269-5204315fe109.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 247px;
  height: 14px;
}