#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Dark_grey_button {
  background-image: url('../../images/[Generated] 4bbb431a-3bcc-4a8f-8c1f-01f63386765c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 267px;
  height: 34px;
}