#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c {
  background-color: transparent;
  min-width: 386px;
  min-height: 661px;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Group_1 {
  position: absolute;
  top: 142px;
  left: 66px;
  width: 320px;
  height: 43px;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Application_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 43px;
  background-color: transparent;
  background-image: url('../../images/4b91b422-7fbc-43de-9acb-3a6bfc00ac09.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  font-size: 14pt;
  font-family: Tahoma;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Application_bar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Application_bar span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Application_bar span#rtr-s-Application_bar_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Image_2 {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Image_3 {
  position: absolute;
  top: 6px;
  left: 242px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Image_4 {
  position: absolute;
  top: 6px;
  left: 280px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Text_box {
  position: absolute;
  top: 199px;
  left: 77px;
  width: 299px;
  height: 355px;
  background-color: transparent;
  line-height: 19px;
  font-size: 22pt;
  font-family: Arial;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Text_box .valign {
  vertical-align: top;
  text-align: left;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Text_box span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 22pt;
  font-style: normal;
  font-weight: bold;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Text_box span#rtr-s-Text_box_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 22pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Text_box span#rtr-s-Text_box_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Text_box span#rtr-s-Text_box_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Text_box span#rtr-s-Text_box_3 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Text_box span#rtr-s-Text_box_4 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Text_box span#rtr-s-Text_box_5 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Text_box span#rtr-s-Text_box_6 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Dark_grey_button {
  position: absolute;
  top: 615px;
  left: 86px;
  width: 261px;
  height: 28px;
  background-color: transparent;
  background-image: url('../../images/d11b915d-debe-4974-97d4-6c69216a4535.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #282A2F;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #282A2F;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #282A2F;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #282A2F;
  border-top-left-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -moz-border-radius-topright: 12px;
  -webkit-border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  -moz-border-radius-bottomright: 12px;
  -webkit-border-bottom-right-radius: 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 16pt;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Dark_grey_button .valign {
  vertical-align: middle;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Image_5 {
  position: absolute;
  top: 561px;
  left: 86px;
  width: 32px;
  height: 32px;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Image_6 {
  position: absolute;
  top: 561px;
  left: 147px;
  width: 32px;
  height: 32px;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Image_7 {
  position: absolute;
  top: 561px;
  left: 211px;
  width: 32px;
  height: 32px;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Image_8 {
  position: absolute;
  top: 561px;
  left: 274px;
  width: 32px;
  height: 32px;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Image_9 {
  position: absolute;
  top: 561px;
  left: 333px;
  width: 32px;
  height: 32px;
}
#s-3e7ed8f5-1bd8-4cd7-867e-f8e8bf776d8c #s-Image_10 {
  position: absolute;
  top: 326px;
  left: 327px;
  width: 32px;
  height: 32px;
}