#s-4bc55fe1-d0a4-4bd3-a45b-c2c32895577a {
  background-color: transparent;
  min-width: 386px;
  min-height: 675px;
}
#s-4bc55fe1-d0a4-4bd3-a45b-c2c32895577a #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-4bc55fe1-d0a4-4bd3-a45b-c2c32895577a #s-Group_1 {
  position: absolute;
  top: 142px;
  left: 66px;
  width: 320px;
  height: 43px;
}
#s-4bc55fe1-d0a4-4bd3-a45b-c2c32895577a #s-Application_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 43px;
  background-color: transparent;
  background-image: url('../../images/4b91b422-7fbc-43de-9acb-3a6bfc00ac09.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  font-size: 14pt;
  font-family: Tahoma;
}
#s-4bc55fe1-d0a4-4bd3-a45b-c2c32895577a #s-Application_bar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4bc55fe1-d0a4-4bd3-a45b-c2c32895577a #s-Application_bar span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
}
#s-4bc55fe1-d0a4-4bd3-a45b-c2c32895577a #s-Application_bar span#rtr-s-Application_bar_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-4bc55fe1-d0a4-4bd3-a45b-c2c32895577a #s-Image_2 {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-4bc55fe1-d0a4-4bd3-a45b-c2c32895577a #s-Image_3 {
  position: absolute;
  top: 6px;
  left: 242px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-4bc55fe1-d0a4-4bd3-a45b-c2c32895577a #s-Image_4 {
  position: absolute;
  top: 6px;
  left: 280px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-4bc55fe1-d0a4-4bd3-a45b-c2c32895577a #s-Image_1 {
  position: absolute;
  top: 184px;
  left: 66px;
  width: 319px;
  height: 491px;
}
#s-4bc55fe1-d0a4-4bd3-a45b-c2c32895577a #s-Image_5 {
  position: absolute;
  top: 206px;
  left: 87px;
  width: 32px;
  height: 32px;
}
#s-4bc55fe1-d0a4-4bd3-a45b-c2c32895577a #s-Image_7 {
  position: absolute;
  top: 362px;
  left: 87px;
  width: 32px;
  height: 32px;
}
#s-4bc55fe1-d0a4-4bd3-a45b-c2c32895577a #s-Image_8 {
  position: absolute;
  top: 284px;
  left: 87px;
  width: 32px;
  height: 32px;
}
#s-4bc55fe1-d0a4-4bd3-a45b-c2c32895577a #s-Image_6 {
  position: absolute;
  top: 457px;
  left: 87px;
  width: 32px;
  height: 32px;
}
#s-4bc55fe1-d0a4-4bd3-a45b-c2c32895577a #s-Image_9 {
  position: absolute;
  top: 537px;
  left: 87px;
  width: 32px;
  height: 32px;
}
#s-4bc55fe1-d0a4-4bd3-a45b-c2c32895577a #s-Image_10 {
  position: absolute;
  top: 613px;
  left: 87px;
  width: 32px;
  height: 32px;
}