#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 {
  background-color: transparent;
  min-width: 392px;
  min-height: 511px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Group_1 {
  position: absolute;
  top: 142px;
  left: 66px;
  width: 320px;
  height: 43px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Application_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 43px;
  background-color: transparent;
  background-image: url('../../images/4b91b422-7fbc-43de-9acb-3a6bfc00ac09.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  font-size: 14pt;
  font-family: Tahoma;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Application_bar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Application_bar span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Application_bar span#rtr-s-Application_bar_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Image_2 {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Image_3 {
  position: absolute;
  top: 6px;
  left: 242px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Image_4 {
  position: absolute;
  top: 6px;
  left: 280px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-List {
  position: absolute;
  top: 193px;
  left: 62px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Panel_47 {
  width: 330px;
  height: 318px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Group_2 {
  width: 320px;
  height: 51px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 12px;
  width: 306px;
  height: 50px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  cursor: pointer;
  font-size: 12pt;
  font-family: Arial;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Image_5 {
  position: absolute;
  top: 18px;
  left: 297px;
  width: 10px;
  height: 15px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Group_33 {
  width: 320px;
  height: 51px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 12px;
  width: 306px;
  height: 50px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  cursor: pointer;
  font-size: 12pt;
  font-family: Arial;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Image_6 {
  position: absolute;
  top: 18px;
  left: 297px;
  width: 10px;
  height: 15px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Group_37 {
  width: 320px;
  height: 51px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 12px;
  width: 306px;
  height: 50px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  cursor: pointer;
  font-size: 12pt;
  font-family: Arial;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_10 span#rtr-s-Rich_text_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Image_10 {
  position: absolute;
  top: 18px;
  left: 297px;
  width: 10px;
  height: 15px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Group_35 {
  width: 320px;
  height: 51px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_34 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 12px;
  width: 306px;
  height: 50px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  cursor: pointer;
  font-size: 12pt;
  font-family: Arial;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_34 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_34 span#rtr-s-Rich_text_34_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Image_7 {
  position: absolute;
  top: 18px;
  left: 297px;
  width: 10px;
  height: 15px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Group_34 {
  width: 320px;
  height: 52px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 12px;
  width: 306px;
  height: 50px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  cursor: pointer;
  font-size: 12pt;
  font-family: Arial;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_8 span#rtr-s-Rich_text_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Image_8 {
  position: absolute;
  top: 18px;
  left: 297px;
  width: 10px;
  height: 15px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Group_36 {
  width: 320px;
  height: 52px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 12px;
  width: 306px;
  height: 50px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  cursor: pointer;
  font-size: 12pt;
  font-family: Arial;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Rich_text_9 span#rtr-s-Rich_text_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-646fb5e1-1359-4c6a-83b3-a2cccc911143 #s-Image_9 {
  position: absolute;
  top: 18px;
  left: 297px;
  width: 10px;
  height: 15px;
}