#s-73d2bc10-4297-44d8-9ba2-5aadd2db1a72 #s-Dark_grey_button {
  background-image: url('../../images/[Generated] 0571f3c7-59a4-48e8-9cd6-a8ddb48e0cee.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 267px;
  height: 34px;
}
#s-73d2bc10-4297-44d8-9ba2-5aadd2db1a72 #s-Green_button {
  background-image: url('../../images/[Generated] 0030e8d1-d1f9-49cf-bc09-f28b775ab662.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 143px;
  height: 23px;
}
#s-73d2bc10-4297-44d8-9ba2-5aadd2db1a72 #s-Rectangle_4 {
  background-image: url('../../images/[Generated] 06eb9d0c-f053-4a97-bb56-7e594c4eb40a.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 296px;
  height: 373px;
}
#s-73d2bc10-4297-44d8-9ba2-5aadd2db1a72 #s-Panel_9 {
  background-image: url('../../images/[Generated] 4f4445e4-78eb-4ec0-bcb2-9252746f82ad.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 281px;
  height: 277px;
}
#s-73d2bc10-4297-44d8-9ba2-5aadd2db1a72 #s-Panel_9 > .valign {
  vertical-align: top;
}
#s-73d2bc10-4297-44d8-9ba2-5aadd2db1a72 #s-Panel_47 > .valign {
  vertical-align: top;
}