#s-8edefd18-271c-4dc0-8198-e86dbee8c235 {
  background-color: transparent;
  min-width: 387px;
  min-height: 675px;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Image_1 {
  position: absolute;
  top: 184px;
  left: 67px;
  width: 320px;
  height: 491px;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Group_1 {
  position: absolute;
  top: 142px;
  left: 66px;
  width: 320px;
  height: 43px;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Application_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 43px;
  background-color: transparent;
  background-image: url('../../images/4b91b422-7fbc-43de-9acb-3a6bfc00ac09.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  font-size: 14pt;
  font-family: Tahoma;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Application_bar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Application_bar span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Application_bar span#rtr-s-Application_bar_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Image_2 {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Image_3 {
  position: absolute;
  top: 6px;
  left: 242px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Image_4 {
  position: absolute;
  top: 6px;
  left: 280px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Image_5 {
  position: absolute;
  top: 264px;
  left: 345px;
  width: 32px;
  height: 32px;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Image_6 {
  position: absolute;
  top: 264px;
  left: 320px;
  width: 32px;
  height: 32px;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Image_7 {
  position: absolute;
  top: 381px;
  left: 345px;
  width: 32px;
  height: 32px;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Image_8 {
  position: absolute;
  top: 381px;
  left: 320px;
  width: 32px;
  height: 32px;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Image_9 {
  position: absolute;
  top: 496px;
  left: 345px;
  width: 32px;
  height: 32px;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Image_10 {
  position: absolute;
  top: 496px;
  left: 320px;
  width: 32px;
  height: 32px;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Image_11 {
  position: absolute;
  top: 609px;
  left: 345px;
  width: 32px;
  height: 32px;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Image_12 {
  position: absolute;
  top: 609px;
  left: 320px;
  width: 32px;
  height: 32px;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Image_13 {
  position: absolute;
  top: 265px;
  left: 346px;
  width: 32px;
  height: 32px;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Image_14 {
  position: absolute;
  top: 497px;
  left: 321px;
  width: 32px;
  height: 32px;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Thread {
  position: absolute;
  top: 247px;
  left: 353px;
  width: 12px;
  height: 12px;
  background-color: #959CA6;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #959CA6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #959CA6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #959CA6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #959CA6;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Thread .valign {
  vertical-align: middle;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Thread_1 {
  position: absolute;
  top: 364px;
  left: 353px;
  width: 12px;
  height: 12px;
  background-color: #959CA6;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #959CA6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #959CA6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #959CA6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #959CA6;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Thread_1 .valign {
  vertical-align: middle;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Thread_2 {
  position: absolute;
  top: 479px;
  left: 343px;
  width: 22px;
  height: 12px;
  background-color: #959CA6;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #959CA6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #959CA6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #959CA6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #959CA6;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Thread_2 .valign {
  vertical-align: middle;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Thread_3 {
  position: absolute;
  top: 592px;
  left: 342px;
  width: 23px;
  height: 12px;
  background-color: #959CA6;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #959CA6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #959CA6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #959CA6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #959CA6;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Thread_3 .valign {
  vertical-align: middle;
}