#s-ab8beafd-f8cc-422c-b055-786e9488f156 {
  background-color: transparent;
  min-width: 386px;
  min-height: 675px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Group_1 {
  position: absolute;
  top: 142px;
  left: 66px;
  width: 320px;
  height: 43px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Application_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 43px;
  background-color: transparent;
  background-image: url('../../images/4b91b422-7fbc-43de-9acb-3a6bfc00ac09.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  font-size: 14pt;
  font-family: Tahoma;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Application_bar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Application_bar span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Application_bar span#rtr-s-Application_bar_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_2 {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_3 {
  position: absolute;
  top: 6px;
  left: 242px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_4 {
  position: absolute;
  top: 6px;
  left: 280px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Rectangle_33 {
  position: absolute;
  top: 184px;
  left: 66px;
  width: 320px;
  height: 491px;
  background-color: #98989C;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_1 {
  position: absolute;
  top: 332px;
  left: 87px;
  width: 32px;
  height: 32px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_5 {
  position: absolute;
  top: 332px;
  left: 149px;
  width: 32px;
  height: 32px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_7 {
  position: absolute;
  top: 332px;
  left: 267px;
  width: 32px;
  height: 32px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_8 {
  position: absolute;
  top: 332px;
  left: 325px;
  width: 32px;
  height: 32px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_6 {
  position: absolute;
  top: 332px;
  left: 210px;
  width: 32px;
  height: 32px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box {
  position: absolute;
  top: 363px;
  left: 81px;
  width: 293px;
  height: 21px;
  background-color: transparent;
  line-height: 19px;
  font-size: 13pt;
  font-family: Arial;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box .valign {
  vertical-align: top;
  text-align: left;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: normal;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box span#rtr-s-Text_box_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box span#rtr-s-Text_box_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box span#rtr-s-Text_box_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_9 {
  position: absolute;
  top: 408px;
  left: 87px;
  width: 32px;
  height: 32px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_10 {
  position: absolute;
  top: 408px;
  left: 149px;
  width: 32px;
  height: 32px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_11 {
  position: absolute;
  top: 408px;
  left: 210px;
  width: 32px;
  height: 32px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_12 {
  position: absolute;
  top: 408px;
  left: 267px;
  width: 32px;
  height: 32px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_13 {
  position: absolute;
  top: 408px;
  left: 325px;
  width: 32px;
  height: 32px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_14 {
  position: absolute;
  top: 482px;
  left: 87px;
  width: 32px;
  height: 32px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_15 {
  position: absolute;
  top: 482px;
  left: 149px;
  width: 32px;
  height: 32px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_16 {
  position: absolute;
  top: 482px;
  left: 210px;
  width: 32px;
  height: 32px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_17 {
  position: absolute;
  top: 482px;
  left: 267px;
  width: 32px;
  height: 32px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_18 {
  position: absolute;
  top: 482px;
  left: 325px;
  width: 32px;
  height: 32px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box_1 {
  position: absolute;
  top: 439px;
  left: 81px;
  width: 293px;
  height: 38px;
  background-color: transparent;
  line-height: 19px;
  font-size: 13pt;
  font-family: Arial;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: normal;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box_1 span#rtr-s-Text_box_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box_1 span#rtr-s-Text_box_1_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box_1 span#rtr-s-Text_box_1_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box_1 span#rtr-s-Text_box_1_3 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box_2 {
  position: absolute;
  top: 513px;
  left: 79px;
  width: 293px;
  height: 38px;
  background-color: transparent;
  line-height: 19px;
  font-size: 13pt;
  font-family: Arial;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: normal;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box_2 span#rtr-s-Text_box_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box_2 span#rtr-s-Text_box_2_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box_2 span#rtr-s-Text_box_2_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Label_1 {
  position: absolute;
  top: 288px;
  left: 152px;
  width: 151px;
  height: 37px;
  background-color: transparent;
  color: #4A576C;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 24pt;
  font-style: normal;
  font-weight: bold;
  line-height: 24pt;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box_3 {
  position: absolute;
  top: 550px;
  left: 95px;
  width: 262px;
  height: 117px;
  background-color: transparent;
  line-height: 19px;
  font-size: 24pt;
  font-family: Arial;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box_3 span {
  color: #00FF00;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 24pt;
  font-style: normal;
  font-weight: normal;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Text_box_3 span#rtr-s-Text_box_3_0 {
  color: #00FF00;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 24pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Pin_green {
  position: absolute;
  top: 316px;
  left: 156px;
  width: 30px;
  height: 38px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Label_2 {
  position: absolute;
  top: 193px;
  left: 95px;
  width: 163px;
  height: 34px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 22pt;
  font-style: normal;
  font-weight: bold;
  line-height: 22pt;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Label_3 {
  position: absolute;
  top: 234px;
  left: 101px;
  width: 181px;
  height: 20px;
  background-color: transparent;
  color: #4A576C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Label_4 {
  position: absolute;
  top: 200px;
  left: 267px;
  width: 100px;
  height: 20px;
  background-color: transparent;
  color: #4A576C;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_19 {
  position: absolute;
  top: 234px;
  left: 298px;
  width: 59px;
  height: 55px;
}
#s-ab8beafd-f8cc-422c-b055-786e9488f156 #s-Image_20 {
  position: absolute;
  top: 283px;
  left: 87px;
  width: 38px;
  height: 34px;
}