#s-c0c45869-468a-4142-86b9-2fb6ff539488 #s-Red_button {
  background-image: url('../../images/[Generated] 21d42e99-942d-4ada-9fbc-08649cdd2920.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 267px;
  height: 34px;
}
#s-c0c45869-468a-4142-86b9-2fb6ff539488 #s-Yellow_button {
  background-image: url('../../images/[Generated] 25fa1d2d-5d47-4d4b-8048-ba8eb2b249de.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 267px;
  height: 34px;
}