
<section route-ng-controller="BargainingCtrl" class="container" id="bargaining-container">

	<div>
		<form ng-submit="findCustomer()">
			<div class="input-append input-prepend">
				<span class="add-on">{{'Kód zákazníka'|_}}</span>
				<input type="text"
					   placeholder="customerId"
					   class="span2"
					   ng-model="customerId"/>
				<button class="btn btn-inverse">{{'Načíst'|_}}</button>
			</div>
		</form>
	</div>

	<div ng-show="customer">
		<h2>
			{{'Identifikace zákazníka'|_}}
		</h2>
		<table class="table">
			<tr>
				<td>{{'Jméno a příjmení'|_}}</td>
				<td>
					<span ng-bind="customer.firstName"></span>
					<span ng-bind="customer.lastName"></span>
				</td>
			</tr>
			<tr>
				<td>{{'Hodnota zákazníka'|_}}</td>
				<td><span class="badge badge-info" ng-bind="customer.customerValue"></span></td>
			</tr>
			<tr>
				<td>{{'Typ členství'|_}}</td>
				<td><span class="label {{ getClassByMembershipLevel() }}"
					  ng-bind="customer.membershipLevel.name"></span></td>
			</tr>
		</table>

		<h2>{{'Nákupní košík'|_}}</h2>
		<table class="table" ng-show="shoppingCart">
			<thead>
				<tr>
					<td colspan="7">
						<form ng-submit="addProduct()">
							<div class="input-append input-prepend">
								<span class="add-on">{{'Kód produktu'|_}}</span>
								<input type="text"
									   placeholder="productId"
									   class="span2"
									   ng-model="productId"/>
								<button class="btn btn-inverse">{{'Vložit'|_}}</button>
							</div>
						</form>
					</td>
				</tr>
			</thead>
			<thead>
				<tr>
					<td colspan="7">{{'Položky v nákupním košíku:'|_}}</td>
				</tr>
				<tr>
					<th>{{'Kód produktu'|_}}</th>
					<th>{{'Název'|_}}</th>
					<th>{{'Prodejní cena'|_}}</th>
					<th>{{'Dolní cenový limit'|_}}</th>
					<th>{{'Požadavek zákazníka'|_}}</th>
					<th>{{'Počet'|_}}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in shoppingCart.activeItems()">
					<td ng-bind="item.product.id"></td>
					<td ng-bind="item.product.name"></td>
					<td ng-bind="item.product.price |price:shoppingCart.currency"></td>
					<td ng-bind="item.product.getAcquisitionPrice(customer.membershipLevel.id) |price:shoppingCart.currency"></td>
					<td><input type="number" class="span1" min="0" ng-model="item.askingPrice" ng-change="save()" /></td>
					<td><input type="number" class="span1" min="0" ng-model="item.qty" ng-change="save()" /></td>
					<td><button class="btn btn-danger" ng-click="removeItem(item)"><i class="icon-remove"></i></button></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>{{'Celkem'|_}}</td>
					<td></td>
					<td ng-bind="shoppingCart.getTotalPrice() |price:shoppingCart.currency"></td>
					<td ng-bind="shoppingCart.getTotalAcquisitionPrice(customer.membershipLevel.id) |price:shoppingCart.currency"></td>
					<td ng-bind="shoppingCart.getTotalAskingPrice() |price:shoppingCart.currency"></td>
					<td ng-bind="shoppingCart.getTotalQty()"></td>
					<td><span ng-bind="getTotalEarningPrice(customer.membershipLevel.id) |price:shoppingCart.currency"
						class="badge {{ getClassByShoppingCartPrice() }}"></span></td>
				</tr>
				<tr>
					<td colspan="7">
						<button class="btn btn-info" ng-click="addComplement()">{{'Vložit komplement'|_}}</button>
					</td>
				</tr>
			</tfoot>
		</table>

		<div class="right">
			<button class="btn btn-success" ng-disabled="getTotalEarningPrice(customer.membershipLevel.id) < 0"
					ng-click="approve()">{{'Schválit'|_}}</button>
			<button class="btn btn-danger" ng-click="customer = null">{{'Zrušit smlouvání'|_}}</button>
		</div>
	</div>
</section>