
<section route-ng-controller="OfferListCtrl" class="container" id="offerList-container">
	
	<ul class="media-list">
		<li class="offer media well {{offer.categories.join(' ')}}" ng-class="{new: !offer.viewed}" ng-repeat="offer in offers">
			<button type="button" class="close" ng-click="unwanted(offer)">&times;</button>
			<a class="pull-left" ng-href="#/offer/{{offer._id}}">
				<img class="media-object offer-image" ng-src="{{offer.image.small}}" />
			</a>
			<div class="media-body">
				<a ng-href="#/offer/{{offer._id}}"><h4 class="media-heading">{{offer.title}}</h4></a>
				<div class="media">
					<div>
						<strong>{{'cena:'|_}}</strong> 
						<span class="badge">{{offer.price | price:offer.currency}}</span>
					</div>
					<div>
						<strong>{{'sleva:'|_}}</strong> 
						<span class="badge badge-important">{{ offer.price / offer.product.price | salePercentage }}</span>
					</div>
					<div>
						<strong>{{'zbývá:'|_}}</strong> 
						<span class="badge badge-success">{{offer.date_end | timeLeft}}</span>
					</div>
				</div>
			</div>
			<div class="category-label"></div>
		</li>
	</ul>
	
</section>