<a ng-href="#" class="work"><i class="indicator-click icon-navigation-refresh icon-large"></i></a>
<i class="indicator icon-navigation-expand icon-large"></i>
<i class="indicator-working icon-navigation-refresh icon-large"></i>
<span class="pulled-label">{{'Uvolněním aktualizovat'|_}}</span>
<span class="pull-label">{{'Stažením aktualizovat'|_}}</span>
<span class="default-label">{{'Kliknutím aktualizovat'|_}}</span>
<span class="working-label">{{'Aktualizuji'|_}}</span>
<button type="button" class="close stop"><i class="icon-large-light icon-navigation-cancel"></i></button>