#t-077bfb1f-6aeb-43e2-8f5a-abae9be5607c {
  background-color: #FFFFFF;
  min-width: 0px;
  min-height: 0px;
}
#t-077bfb1f-6aeb-43e2-8f5a-abae9be5607c #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}