#t-7e0f08ae-a8f0-4254-91a5-92c2ac4fe6af {
  background-color: #FFFFFF;
  min-width: 1584px;
  min-height: 1205px;
}
#t-7e0f08ae-a8f0-4254-91a5-92c2ac4fe6af #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-7e0f08ae-a8f0-4254-91a5-92c2ac4fe6af #t-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1526px;
  height: 1052px;
}
#t-7e0f08ae-a8f0-4254-91a5-92c2ac4fe6af #t-Rectangle_1 {
  position: absolute;
  top: 126px;
  left: 124px;
  width: 1280px;
  height: 800px;
  background-color: transparent;
}
#t-7e0f08ae-a8f0-4254-91a5-92c2ac4fe6af #t-Rectangle_2 {
  position: absolute;
  top: 1200px;
  left: 1579px;
  width: 5px;
  height: 5px;
  background-color: transparent;
}