#t-a16b718c-9afe-46fa-8ea6-699167bbc26a {
  background-color: #FFFFFF;
  min-width: 484px;
  min-height: 866px;
}
#t-a16b718c-9afe-46fa-8ea6-699167bbc26a #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-a16b718c-9afe-46fa-8ea6-699167bbc26a #t-Image_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 451px;
  height: 813px;
}
#t-a16b718c-9afe-46fa-8ea6-699167bbc26a #t-Rectangle_1 {
  position: absolute;
  top: 142px;
  left: 67px;
  width: 320px;
  height: 533px;
  background-color: transparent;
}
#t-a16b718c-9afe-46fa-8ea6-699167bbc26a #t-Rectangle_2 {
  position: absolute;
  top: 861px;
  left: 479px;
  width: 5px;
  height: 5px;
  background-color: transparent;
}