#t-ba63d49c-5962-4c23-9532-ea5ed7ed7a8d {
  background-color: #FFFFFF;
  min-width: 908px;
  min-height: 866px;
}
#t-ba63d49c-5962-4c23-9532-ea5ed7ed7a8d #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-ba63d49c-5962-4c23-9532-ea5ed7ed7a8d #t-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 908px;
  height: 498px;
}
#t-ba63d49c-5962-4c23-9532-ea5ed7ed7a8d #t-Rectangle_1 {
  position: absolute;
  top: 69px;
  left: 174px;
  width: 598px;
  height: 360px;
  background-color: transparent;
}
#t-ba63d49c-5962-4c23-9532-ea5ed7ed7a8d #t-Rectangle_2 {
  position: absolute;
  top: 861px;
  left: 479px;
  width: 5px;
  height: 5px;
  background-color: transparent;
}