
<section class="container" id="group-container">

	<h2>Rodina</h2>
	<ul class="nav nav-tabs nav-stacked">
		<li>
			Celkové body
			<span class="label label-info">87 bodů</span>
		</li>
		<li>
			Týdenní body
			<span class="label label-success">50 bodů</span>
		</li>
	</ul>

	<div class="qr-code-container">
		<a ng-href="#">
			<img class="qr-code" src="images/qr_code_example_group.png" alt="QR code" />
		</a>
	</div>

	<table class="table">
		<tr>
			<td>
				<strong>Máma</strong> Eliška
			</td>
		</tr>
		<tr>
			<td>
				<strong>Přítelkyně</strong> Kačenka
	</table>

</section>
