
<section class="container" id="setting-container">
	<h1>Nastavení</h1>

	<h2>Oznámení</h2>
	<label class="checkbox">
		<input type="checkbox" ng-model="sound">
		Zvuk
	</label>
	<label class="checkbox">
		<input type="checkbox" ng-model="vibration">
		Vibrace
	</label>
	<label class="checkbox">
		<input type="checkbox" ng-model="light">
		Světlo
	</label>
	<label class="checkbox">
		<input type="checkbox" ng-model="notification">
		Oznamovací oblast
	</label>

	<h2>Konektivita</h2>
	<label class="checkbox">
		<input type="checkbox" ng-model="wifi">
		WiFi
	</label>
	<label class="checkbox">
		<input type="checkbox" ng-model="bluetooth">
		Bluetooth
	</label>
	<label class="checkbox">
		<input type="checkbox" ng-model="gps">
		GPS
	</label>
	<label class="checkbox">
		<input type="checkbox" ng-model="bts">
		BTS
	</label>
</section>
