<section ng-controller="ShoppingCartListCtrl" class="" id="shoppingCartList-container">
	
	<h2>{{'Nákupní seznamy'|_}}</h2>
	<table class="personal table table-hover table-bordered shopping-cart-list">
		<tr>
			<td class="well soft">
				<a ng-href="#/create-shopping-cart">
					<h5><i class="icon-medium icon-circle-plus"></i> {{'Vytvořit nákupní seznam'|_}}</h5>
				</a>
			</td>
		</tr>
		<tr ng-repeat="shoppingCart in shoppingCarts" class="shopping-cart" ng-class="getClass(shoppingCart)">
			<td class="well">
				<div>
					<a ng-href="#/shopping-cart/{{shoppingCart._id}}">
						<h4>
							{{shoppingCart.name}}
							<span ng-hide="shoppingCart.name.length">{{'Nepojmenovaný seznam'|_}}</span>
							<small>{{shoppingCart.date|formatDate:'D. M. YY H:mm'}}</small>
						</h4>
					</a>
				</div>
				<span class="badge badge-success" ng-show="shoppingCart.totalPrice">
					{{shoppingCart.totalPrice | price:shoppingCart.currency}}
				</span>
				<span class="badge" ng-hide="shoppingCart.totalPrice == shoppingCart.originalPrice">
					{{shoppingCart.originalPrice | price:shoppingCart.currency}}
				</span>
				<span class="badge badge-inverse qty">
					{{shoppingCart.notCheckedItems().length}}
					<span class="total">/{{shoppingCart.activeItems().length}}</span> 
					{{'pložek'|_}}
				</span>

				<a ng-href="#/edit-shopping-cart/{{shoppingCart._id}}" class="btn"><i class="icon-pencil"></i></a>
				<button class="btn btn-danger" ng-click="removeShoppingCart(shoppingCart)"><i class="icon-remove"></i></button>
			</td>
		</tr>
	</table>

	<!-- skupinové seznamy -->
	<table ng-repeat="group in groups" class="group table table-hover table-bordered">
		<tr>
			<th class="well soft">
				<a ng-href="#/group/{{group._id}}">
					<h3><i class="icon-large icon-group"></i> {{group.name}}</h3>
				</a>
			</th>
		</tr>
		<tr ng-repeat="shoppingCart in group.shoppingCartList">
			<td class="well">
				<div>
					<a ng-href="#/shopping-cart/{{shoppingCart._id}}">
						<h4>
							{{shoppingCart.name}}
							<small>{{shoppingCart.date|formatDate:'D. M. YY H:mm'}}</small>
						</h4>
					</a>
				</div>
				<span class="badge badge-success" ng-show="shoppingCart.totalPrice">
					{{shoppingCart.totalPrice | price:shoppingCart.currency}}
				</span>
				<span class="badge" ng-hide="shoppingCart.totalPrice == shoppingCart.originalPrice">
					{{shoppingCart.originalPrice | price:shoppingCart.currency}}
				</span>
				<span class="badge badge-inverse">
					{{shoppingCart.items.length}} {{'pložek'|_}}
				</span>
			</td>
		</tr>
	</table>
	
</section>